.sidebar{
  width: 250px;
  height: 100%;
  background-color:  #2e3235;
  overflow-y: auto;
  border-right: 1px solid rgb(86, 92, 102);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .sidebar-content{
    width: 90%;
    height: 100%;
    margin-left: 10px;

    .section-title{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .logo{
      font-weight: bold;
      font-size: 22px;
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;

      svg{
        width: 24px;
        height: 24px;
      }

    }

    .sidebar-folders{
      width: 100%;

      .btn-sidebar-transparent{
        font-size: 14px;
        border-style: none;
        background-color: transparent;
        width: 100%;
        height: 30px;
        cursor: pointer;
        text-align: left;
        color: aliceblue;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        // display: block;

        &:hover{
          background-color: rgb(97, 103, 109);
        }

        .btn-sidebar-transparent-text{
          width: 80%;
        }

        .btn-sidebar-folder-count{
          width: 20%;
          display: flex;
          justify-content: flex-end;
        }


      }

    }

    .btn-icon{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-style: none;
      background-color: transparent;
      height: 100%;
      border-radius: 5px;
      cursor: pointer;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      &:hover{
        background-color: rgb(97, 103, 109);
      }
    }


    .btn-note{
      border-left: 1px solid  rgb(97, 103, 109);
      padding-left: 15px;
      width: 90%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      float: right;
      text-align: left;
      font-size: 14px;
      border-style: none;
      background-color: transparent;
      color: aliceblue;
      cursor: pointer;

      &:hover{
        background-color: rgb(97, 103, 109);
      }

    }
  }




  @media screen and (max-width:768px) {
    display: none;
  }


}
