<section class="sidebar">
    <div class="sidebar-content">
      <div class="logo">
        Notas
      </div>

        <!-- <div>
            <fa-icon [icon]="icons.faCalendarDays"></fa-icon>
          Calendar
        </div> -->

      <div>
        <span>
          Folders
        </span>
        <fa-icon  [icon]="icons.faPlusSquare" (click) = "createFolder()"></fa-icon>
        </div>

        <div *ngFor = "let folder of folders$ | async; index as i">

          <button class = "btn-sidebar-transparent" (click) = "toogleFolder(i)">
            <span>
              <span *ngIf = "foldersVisible[i]">
                <fa-icon  [icon]="icons.faAngleDown"></fa-icon>
                <fa-icon [icon]="icons.faFolderOpen"></fa-icon>
              </span>
              <span *ngIf = "!foldersVisible[i]">
                <fa-icon  [icon]="icons.faAngleRight"></fa-icon>
                <fa-icon *ngIf = "!foldersVisible[i]" [icon]="icons.faFolderClosed"></fa-icon>
              </span>
                {{folder.name}}
              </span>
              <span>
                {{folder.notes.length}}
              </span>
          </button>

          <div *ngIf = "foldersVisible[i]">
              <div *ngFor="let note of folder.notes">
                  <button class = "btn-note" (click) = "redirectToPage(note.id)">{{note.title}}</button>
              </div>
          </div>

        </div>



    </div>
</section>
