<section class="list-notes">

  <div *ngIf = "notes.length > 0">
  <div class="list-notes-inner">
      <div class="note-item" *ngFor = "let note of notes">
        <div class="note-item-content">
          <div class="note-item-header">
            <span>{{note.title}}</span>
          </div>
          <div class="note-item-body">
            <div [innerHTML] = "textMap.get(note.id)"></div>
          </div>

          <div class="note-item-footer">
            <div class="note-item-footer-row">
              <button class="btn-edit-note" (click) = "navigateToNote(note.id)">
                Edit note
              </button>
              <div>
                <button class = "btn-icon">
                  <fa-icon  [icon]="icons.faThumbTack"></fa-icon>
                </button>
                <button class = "btn-icon" (click) = "openDeleteNoteModal(note)">
                  <fa-icon  [icon]="icons.faTrashCan"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div *ngIf = "!notes ||notes.length === 0">
    <div class="no-content">
      <span>Empty folder <fa-icon  [icon]="icons.faFolderOpen"></fa-icon>
      </span>
    </div>
  </div>


</section>

<app-confirmation-modal
*ngIf = "isDeleteNoteModalOpen"
[title]="'Delete note'"
(close)="toogleDeleteNoteModal()"
(confirm)="deleteNote()"
>
<p>Are you sure you want to delete this note?</p>
</app-confirmation-modal>

