/* You can add global styles to this file, and also import other style files */
body{
  margin: 0 auto;
  background-color:  #242525;
  overflow-x: hidden;
  color: aliceblue;

}

body, input, textarea, button {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: aliceblue;
}

$main-color:#154ec2;
$main-color-hover:#1c4294;


.btn-primary{

  border-style: none;
  border-radius: 5px;
  background-color: $main-color;
  // width: 60px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;



  &:hover{
    background-color: $main-color-hover;
  }
}

.btn-secondary{
  border-style: none;
  border-radius: 5px;
  background-color: transparent;
  // width: 60px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  border: 1px solid $main-color;



  &:hover{
    background-color: $main-color;
  }
}


.page{
  width: 80%;
  height: 100%;
  margin: 0 auto;


  @media screen and (max-width:900px) {
    width: 98%;
    margin: 0 auto;
  }

}

.page-header{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .page-header-name{
    width: 50%;
    font-size: 50px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .page-header-button{
    display: flex;
    width: 30%;
    justify-content: flex-end;
    button{
      height: 80%;
      min-width: 150px;
      margin-left: 10px;
    }
  }


  @media screen and (max-width:1200px) {

      flex-direction: column;
      justify-content: center;
      align-items: center;

      .page-header-button{
        width: 80%;
        justify-content: center;
        button{
          height: 40px;
        }
      }


  }


}


.ce-toolbar__plus,.ce-toolbar__settings-btn{
  color: aliceblue;

  &:hover{
    color:#111;
  }

}

.ce-inline-tool{
  color: #111;
}

.ce-inline-tool--active{
  color: purple;
}

.ce-inline-toolbar__dropdown,.ce-conversion-tool{
  color: #111;
}

.ce-paragraph::selection{
  color: $main-color;
}


/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212325;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3d4144;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(68, 67, 67)144;
}
