/* You can add global styles to this file, and also import other style files */
body{
  margin: 0 auto;
  background-color: #212325;
  overflow-x: hidden;
  color: aliceblue;

}

body, input, textarea, button {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

$main-color:#2E5093;



.ce-toolbar__plus,.ce-toolbar__settings-btn{
  color: aliceblue;

  &:hover{
    color:#111;
  }

}

.ce-inline-tool{
  color: #111;
}

.ce-inline-tool--active{
  color: purple;
}
